/* Configuracion de estilos globales */
/* Para definir estilos de componentes como buttons o inputs hacedlo en base/ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: #ffffff;
  color: #333333;
}